<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>

@{
    // TODO #3 - Use the same list display from Views/Search/Index.cshtml
    //loop over and grab all the info from the ViewBag.jobs and then using Razor Templating . . .
    //create a table and the job listing class
    //then loop inside (again) then grab all the information for each Dictionary that you were first iterating over and retrieve the key and values
    //then you want to create table row <tr>
    //then create table data <td>, this is where I will display the information
}